body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: Arial, sans-serif;
    background-color: rgb(175, 174, 174);
}

.container {
    display: grid;
}

.countdown-container {
    background-color: rgba(81, 66, 66, 0.301);
    padding: 20px;
    border-radius: 10px;
}

.countdown-title {
    font-size: 40px;
    margin-bottom: 20px;
    color: #401aa0;
    background-color: seashell;
    border: 2px solid #fbfbfb;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-family: "area-normal", sans-serif;
    font-weight: 900;
    font-style: normal;
}

#counter {
    font-family: "area-normal", sans-serif;
    font-weight: 100;
    font-style: normal;
}

#countdown-timer {
    text-align: center;
}

.countdown-section {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin: 0 10px;
}

.countdown-days {
    font-weight: lighter;
    display: block;
    text-align: center;
}

.countdown-label {
    font-size: 45px;
    font-weight: bold;
    margin-right: 5px;
}

.countdown-text {
    font-size: 30px;
    font-weight: lighter;
    margin-right: 5px;
    font-family: "area-normal", sans-serif;
    font-weight: 100;
    font-style: normal;
}


.countdown-hours,
.countdown-minutes,
.countdown-seconds {
    font-size: 20px;
    margin: 0 10px; /* Space between the time sections */
    display:inline-flex; 
    font-family: "area-normal", sans-serif;
    font-weight: 200;
    font-style: oblique;
}

#countdown-days-suffix {
    font-size: 20px;
    font-weight: lighter;
    margin-left: 5px;
    text-align: center;
}

/* Styling for the voter registration section */
.voter-registration {
    margin-top: 20px;
    padding: 20px;
    background: linear-gradient(135deg, #442565, #6a4fb0, #9a7fd1);
    color: white;
    border-radius: 10px;
}

.voter-registration h2 {
    margin-bottom: 10px;
    text-align: center;
}

.voter-registration ul {
    list-style-type: none;
    padding: 0;
}

.voter-registration ul li {
    margin-bottom: 5px;
}

.voter-registration a {
    color: #ffd700;
    text-decoration: none;
}

.voter-registration a:hover {
    text-decoration: underline;
}

/* Mobile Devices (Portrait) */
@media (max-width: 480px) {
    .countdown-title {
        font-size: 24px;
        padding: 0px;
    }

    .countdown-label {
        font-size: 24px;
    }

    .countdown-days {
        font-size: 36px;
    }

    .countdown-text {
        font-size: 24px;
    }

    .countdown-section {
        flex-direction: column;
    }

    .voter-registration {
        padding: 10px;
        margin-top: 10px;
        border-radius: 0%;
    }

    .voter-registration h2 {
        font-size: 18px;
        font-family: "area-normal", sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    .voter-registration ul li {
        font-size: 14px;
    }
}

